.wanted-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0,0.7);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.wanted-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.wanted-card h2 {
    font-size: 20px;
    margin: 10px 0;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wanted-card h2:hover {
    text-decoration: underline;
}

.wanted-card p {
    font-size: 18px;
    color: #ee0a0a;
    margin: 5px 0;
}

.wanted-card:hover {
    transform: translateY(-10px);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    margin-top: 2px;
    border: 2px solid red;
    color: red;
    background:black;
}

button:hover{
    border: 2px solid yellow;
    color: yellow;
    background:green;
}