body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}
.background {
    background-image: url('../css/bg3.jpg');
    background-size: cover;
    background-position: center;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.fadeInAnimation {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: white;
}

.slideInAnimation {
    animation: slideInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideInAnimation {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

#camera-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.camera-feed {
    max-width: 90%;
    height: auto;
    border: 1px solid #ccc;
}

.slideUpAnimation {
    animation: slideUpAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slideUpAnimation {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}

.form-container {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
